<mat-toolbar color="primary">
  <span>Inventory Tracker</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>

    <mat-nav-list role="list">
      <mat-list-item [activated]="true">Browser</mat-list-item>
      <mat-list-item>Users</mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <div id="router-outlet-content">
      <mat-card>
        <mat-card-title>{{ title$ | async }}</mat-card-title>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

