<mat-toolbar color="primary">
  <span>Inventory Tracker</span>
</mat-toolbar>

<ng-container *ngIf="{
  currentUrl: currentUrl$ | async,
  title: title$ | async
} as observables">
  <mat-sidenav-container id="sidenav-container">
    <mat-sidenav mode="side" opened id="sidenav">
      <mat-nav-list role="list">
        <mat-list-item *ngFor="let navLink of navLinks" [activated]="isNavLinkActivated(observables.currentUrl, navLink)" [routerLink]="navLink.path">{{ navLink.label }}</mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div id="router-outlet-content">
        <mat-card>
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{ observables.title }}</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <router-outlet></router-outlet>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>


